[submodule "site/eigen"]
	path = site/eigen
	url = git@gitlab.com:libeigen/eigen.git
[submodule "site/sage"]
	path = site/sage
	url = https://github.com/sagemath/sage.git
[submodule "site/cvc5"]
	path = site/cvc5
	url = git@github.com:cvc5/cvc5
